body:before {
  content: "Currently On" var(--Update-Text);
  background: var(--Background-Colour);
  border: 1px solid var(--Main-Colour);
  left: 50%;
  border-radius: 5px;
  padding: 5px 15px;
  transform: translate(-50%, -100%);
  animation: Notif 4s , CLog 10s infinite linear;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 9997;
  color: var(--Main-Colour);
}
